#evan-photo {
  height: auto;
  width: 100%;
}

h1,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 20px;
}

h3 {
  padding-bottom: 10%;
}

i {
  font-size: 2rem;
}

.icon-container {
  padding-bottom: 5%;
}

.card {
  margin: 8px;
  box-shadow: 5px 5px 15px 10px hsl(0, 4%, 91%);
}
