.name,
.email,
.message {
  width: 100%;
}

.error {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: red;
  font-style: italic;
}

.contact-btn {
  background-color: #338aad;
  color: #f5f5f5;
  border: 1px solid #338aad;
  border-radius: 0;
  padding: 0.375rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 66%;
  transition: ease-in-out 0.25s;
}

.contact-btn:hover {
  opacity: 0.8;
}
