.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #f0f3f7;
}

.row {
  background-color: #f0f3f7;
  width: 100%;
}

a {
  font-size: 1.3rem;
}

.social {
  font-weight: bold;
  font-size: 1.5rem;
  color: lightslategray;
  transition: ease-in-out 0.25s;
}
